@media only screen and (max-width: 768px) {
  .App-header {
    background-color: #222;
    height: 40%;
    width: 100% !important ;
    padding: 0.2%;
    margin: auto;
    color: white;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    width: 98% !important;
    color: white;
    outline: 0;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
  }

  .adi{
    padding-bottom: 2% !important ;
  }
}


.App {
  text-align: center;
}

.hell{
  padding-top: 0.2%;
  padding-bottom: 1.5%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}

.App-header {
  background-color: #222;
  height: 40%;
  width: 62%;
  padding: 0.2%;
  margin: auto;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  width: 62%;
  color: white;
  outline: 0;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 7px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.adi{
  padding-bottom: 0.7%;
}

.cb {
  padding-top: 0.6%;
  padding-bottom: 0.5%;
}